Source: sidux-art-meta
Section: graphics
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>, Kel Modderman <kel@otaku42.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-art-meta/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-art-meta/trunk/

Package: gfxboot-theme-sidux
Architecture: all
Depends: gfxboot-theme-sidux-2008-04-pontos | gfxboot-theme-sidux-message
Description: sidux meta theme for gfxboot-compliant boot loaders
 This metapackage pulls in the current sidux gfxboot theme.

Package: sidux-art-kde
Architecture: all
Depends: sidux-art-kde-pontos | sidux-art-kde-theme
Conflicts: sidux-art-kde (<= 0.0.6)
Description: KDE theme virtual package for sidux
 Depends on various KDE artwork used in current sidux release

Package: sidux-art-wallpaper
Architecture: all
Depends: sidux-art-wallpaper-pontos | sidux-art-wallpaper-theme
Description: sidux wallpaper virtual package
 Depends on the wallpaper package for the current release

Package: sidux-art-xfce
Architecture: all
Depends: sidux-art-xfce-pontos | sidux-art-xfce-theme 
Description: Xfce theme for sidux
 Virtual package providing Xfce themes used in the 
 current sidux release
