Source: aptosid-art-meta
Section: metapackages
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kel@otaku42.de>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.4
Vcs-Svn: svn://svn.berlios.de/fullstory/aptosid-art-meta/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/aptosid-art-meta/trunk/

Package: gfxboot-theme-aptosid
Architecture: all
Depends: ${misc:Depends},
 gfxboot-themes-aptosid-nemesis-core | gfxboot-themes-aptosid-core
Description: aptosid meta theme for gfxboot-compliant boot loaders
 This metapackage pulls in a gfxboot theme, while minimal gfxboot themes for
 aptosid (gfxboot-themes-aptosid-core), standard OpenSUSE themes provided by
 "gfxboot-theme" in Debian are accepted as alternative dependencies, it
 defaults to the release specific gfxboot theme of the current release.
 .
 The current default is: aptosid 2013-02 (Νέμεσις)

Package: aptosid-art-kde
Architecture: all
Depends: ${misc:Depends},
 aptosid-art-kde-nemesis | aptosid-art-kde-theme
Description: virtual package for KDE themes in aptosid
 This metapackage pulls in the artwork themes for the K Desktop Environment
 while versions for all KDE themes used in aptosid are accepted
 (aptosid-art-kde-theme), it defaults to the release specific KDE themes of the
 current release.
 .
 The current default is: aptosid 2013-02 (Νέμεσις)

Package: aptosid-art-wallpaper
Architecture: all
Depends: ${misc:Depends},
 aptosid-art-wallpaper-nemesis | aptosid-art-wallpaper-theme
Description: virtual package for wallpapers in aptosid
 This metapackage pulls in the wallpaper package for various desktop
 environments and window managers, while versions of all wallpapers used in
 aptosid are accepted (aptosid-art-wallpaper-theme), it defaults to the release
 specific wallpaper package of the current release.
 .
 The current default is: aptosid 2013-02 (Νέμεσις)

Package: aptosid-art-xfce
Architecture: all
Depends: ${misc:Depends},
 aptosid-art-xfce-nemesis | aptosid-art-xfce-theme 
Description: virtual package for Xfce themes in aptosid
 This metapackage pulls in the artwork themes for the Xfce desktop environment
 while versions for all Xfce themes used in aptosid are accepted
 (aptosid-art-xfce-theme), it defaults to the release specific Xfce themes of
 the current release.
 .
 The current default is: aptosid 2013-02 (Νέμεσις)
